/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --subtitle-color: #000028;
  --text-color: #f1b2ce;
  --nav-color: #ff0070;
  --nav-hover-outline: rgba(255, 0, 112, 0.4);
  --section-title-color: #ff0070;
  --decor-line-color: #ff0070;

  --background-img: url(../images/cover-image-dark.png);

  --main-font: "IBM Plex mono", sans-serif;
  --main-font-size: 18px;
}
